body{
    font-family: 'Lato', sans-serif;
}
.header{
    width: 100%;
    background-color: rgb(56, 60, 62);
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.navigation{
    color: #fff;
    font-weight: 500;
    font-size: 3.75vw;
    font-weight: 500;
    padding: 3.75% 0 3.75% 5.625%;
    text-transform: capitalize;
}
.burger-container{
    width: 12.8%;
    height: 100%;
    background-color: rgb(33, 37, 41);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger{
    color: white;
    font-size: 5vw;
    cursor: pointer;
}
.close{
    font-size: 7vw;
}
.menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 57%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    display: none;
}
.menu-item{
    display: block;
    padding: 3vw 3.75vw;
    text-transform: capitalize;
    font-size: 3.7vw;
    color: #444444;
    font-weight: 500;
    border: 1px solid rgb(239, 240, 241);
    box-sizing: border-box; 
    cursor: pointer;
}
.active{
    display: block;
}
.logo-img{
    display: none;
}
.main{
    background-image: url(../img/Main640.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan{
    color: #fff;
    font-weight: 700;
    padding-left: 6.25vw;
    font-size: 4.375vw;
    padding-bottom: 2.8125vw;
}
.top-slogan{
    padding-top: 6%;
}
.link{
    display: block;
    color:  #a6d6e0;
    font-weight: 700;
    font-size: 4.0625vw;
    padding: 0.625vw 0 29.375vw 6.875vw;
}
.category{
    display: flex;
    margin-top: 0.7vw;
}
.top-category{
    margin-top: 1.3vw;
}
.category-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.125%;
    height: 23.125vw;
    font-size: 6.25vw;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: capitalize;
}
.pizza{
    background-image: url(../img/Pizza640.png);
}
.salad{
    background-image: url(../img/Salads640.png);
}
.dessert{
    background-image: url(../img/desserts640.png);
}
.arrow-container{
    width: 24vw;
    height: 23.125vw;
    background-color: rgb(172, 217, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    color: #fff;
    font-size: 5.6vw;
}
.some-title{
    color:  #3f4043;
    font-size: 5.843vw;
    text-transform: uppercase;
}
.menu-header{
    width: 95%;
    margin: 7.7vw auto 3.125vw;
}
.menu-header-text{
    color:  #cbcdce;
    font-size: 3.125vw;
    padding-top: 0.9vw;
}
.dark-menu{
    color:  #acd9ad;
    background-color: rgb(63, 64, 67);
}
.menu-title{
    text-transform: uppercase;
    padding: 2.8vw 0px 3vw 5.937vw;
    font-weight: normal;
    font-size: 6vw;
    letter-spacing: 1.3px;
}
.light-menu{
    color: #fff;
    background-color: #acd9ad;
    margin-top: 10.31vw;
    letter-spacing: 0.5px;
    padding: 2.5vw 0px 3vw 5.937vw;
}
.menu-content{
    width: 89%;
    margin: 0 auto;
}
.menu-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.category-name{
    color:  #3f4043;
    font-size: 4.68vw;
    padding: 5.625vw 0 3.125vw;
}
.category-img{
    width: 7.81vw;
    height: 7.81vw;
    background-image: url(../img/menu-cold.png);
    background-size: cover;
}
.category-img-wine{
    width: 4vw;
    height: 7.5vw;
    background-image: url(../img/menu-wine.png);
    background-size: cover;
}
.category-img-beer{
    width: 6.56vw;
    height: 6.56vw;
    background-image: url(../img/menu-beer.png);
    background-size: cover;
}
.category-img-coffee{
    width: 9.375vw;
    height: 6.56vw;
    background-image: url(../img/menu-coffee.png);
    background-size: cover;
}
.dot{
    list-style: disc;
}
.dish{
    position: relative;
    color:  #3f4043;
    font-size: 4.2vw;
    margin: 2.7vw auto 0;
    list-style-type: disc;
    width: 100%;  
}
.dish-price{
    position: absolute;
    top: 0;
    right: 0;
    color: #3f4043;
    font-size: 4.3vw;
    font-weight: 700;
    letter-spacing: -0.2px;
    list-style-type: none;
}
.dish-info{
    padding-top: 2.89vw;
    color:  #3f4043;
    font-size: 2.8vw;
    width: 100%;
    margin: 0 auto;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #acd9ad;
    height: 17.5vw;
    margin-top: 15%;
    font-family: 'Montserrat',sans-serif; 
}
.footer-slogan{
    color:  #ffffff;
    font-size: 3.75vw;
}
.down-slogan{
    padding-top: 2.5%;
    line-height: 7px;
}
.footer-img{
    display: none;
}



@media (max-width:320px){
   
.pizza{
    background-image: url(../img/Pizza320.png); 
 }
.salad{
    background-image: url(../img/Salads320.png);
    background-size: 128%;
    display: block;
    padding: 8.375vw 0px 0px 23.125vw;
    box-sizing: border-box;
    letter-spacing: 0.8px;
}
.dessert{
    background-image: url(../img/Desserts320.png);
    letter-spacing: 0.8px;
}
.slogan,.link{
    letter-spacing: 1px;
}
.dish{
    letter-spacing: 0.5px;
}
.some-title{
    letter-spacing: 0.78px;
}
.menu-header-text{
    letter-spacing: -0.1px;
}
.wine-menu{
    margin-top: 1.562vw;
}
.category-img-wine{
    display: block;
    margin: 5px 5px 0 0;
}
.arrow-container{
    width: 22.1875vw;
}
.beer-menu{
    margin-top: 1.562vw;
}
.category-img-beer{
    margin: 8px 4px 0 0;
}
.dish-info{
    line-height: 8px;
    letter-spacing: 0.29px;
}

} 

@media (min-width: 641px){
    .header{
        display: flex;
        align-items: center;
    }
    .menu{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        border: none;
        width: auto;
        background-color: rgb(56, 60, 62);
    }
    .dish-menu-logo{
        background-image: url(../img/Menu\ logo.png);
        background-size: cover;
        position: absolute;
        width: 10vw;
        height: 7.7vw;
        top: -2px;
        right: 0;
    }
    .menu-item{
        padding: 45px 0 41px 30px;
        border: none;
        color:  #ececec;
        text-transform: uppercase;
    }
    .navigation{
        display: none;
    }
    .burger-container{
        display: none;
    }
    .logo-img{
        display: block;
        position: absolute;
        right: 30px;
    }
    .categories-container{
        display: flex;
        flex-direction: row;
    }
    .category{
        width: 33.3%;
        margin-top: 0.93vw;
    }
    .category-info{
        width: 100%;
        height: 33.36vw;
        font-size: 3.87vw;
    }
    .arrow-container{
        display: none;
    }
    .menu-container{
        display: flex;
    }
    .some-title{
        font-size: 3.8vw;
    }
    .menu-header{
        margin: 8.125vw auto 3.125vw;
        position: relative;
    }
    .menu-page{
        width: 50%;
    }
    .menu-content{
        width: 93%;
    }
    .menu-header-text{
        font-size: 2.7vw;
    }
    .light-menu{
        margin-top: 0;
    }
    .menu-title{
        font-size: 3.125vw;
        padding: 23px 18px;
    }
    .menu-category{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .category-name{
        font-size: 2.3vw;
        padding: 40px 0;
    }
    .category-img{
        width: 3.6vw;
        height: 3.6vw;
    }
    .category-img-wine{
        width: 2vw;
        height: 3.7vw;
    }
    .category-img-beer{
        width: 3.25vw;
        height: 3.25vw;
    }
    .category-img-coffee{
        width: 4.65vw;
        height: 3.25vw;
    }
    .dish{
        font-size: 2.1vw;
        margin-top: 1.7vw;
    }
    .dish-price{
        font-size: 2.1vw;
    }
    .dish-info{
        padding-top: 1.25vw;
        font-size: 1.36vw;
    }
    .footer{
        flex-direction: row;
        justify-content: flex-end;
        height: 97px;
        margin-top: 8.75%;
        position: relative;
    }
    .footer-slogan{
        font-size: 18px;
    }
    .down-slogan{
        padding: 0 3.06vw 0 0 ;
    }
    .footer-img{
        display: block;
        position: absolute;
        left: 37px;
        width: 104px;
        height: 83px;
    }
}

@media (min-width: 641px) and (max-width: 980px){
    .menu-item{
        font-size: 11px;
    }
    .main{
        background-image: url(../img/Main980.png);
    }
    .pizza{
        background-image: url(../img/Pizza980.png);
    }
    .salad{
        background-image: url(../img/Salads980.png);
    }
    .dessert{
        background-image: url(../img/Desserts980.png);
    }
    .footer-slogan{
        font-size: 16px;
    }
    .footer{
        letter-spacing: -0.7px;
    }
}

@media (min-width: 981px){
    .menu-item{
        font-size: 15px;
    }
    .main{
        background-image: url(../img/Main1200.png);
    }
    .pizza{
        background-image: url(../img/Pizza1200.png);
    }
    .salad{
        background-image: url(../img/Salads1200.png);
    }
    .dessert{
        background-image: url(../img/Desserts1200.png);
    }
}

@media (min-width: 1201px) {
    .main{
        background-image: url(../img/header1200+.png);
    }
    .pizza{
        background-image: url(../img/Pizza1200+.png);
    }
    .salad{
        background-image: url(../img/Salads1200+.png);
    }
    .dessert{
        background-image: url(../img/Desserts1200+.png);
    }
    .menu-item{
        font-size: 19px;
    }
    .footer-slogan{
        font-size: 22px;
    }
   .dish-menu-logo{
       background-image: url(../img/Menu\ logo\ 1200+.png);
   }
}
